<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Atenção:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend>Informações de acesso</legend>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :profile %>

  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :active, collection: [['Ativo', true], ['Inativo', false]], label: 'Situação' %>

  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  </div>
<% end %>
