<%= simple_nested_form_for(client, multipart: true) do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= show_errors client %>

      <%= f.input :name %>

      <div>
        <%= f.label :phones, 'Telefones' %>
        <div id="phones">
          <%= f.fields_for :phones do |ff| %>
            <div class="row">
              <%= ff.hidden_field :id %>
              <%= ff.input :number, label: false, wrapper_html: { class: 'col-md-2' }, input_html: { class: 'phone' } %>
              <div class="col-md-2">
                <%= ff.link_to_remove 'Remover', class: 'btn btn-default' %>
              </div>
            </div>
          <% end %>
        </div>
        <%= f.link_to_add "Acrescentar Telefone", :phones, :data => {:target => "#phones"}, :class => 'add-nested-field' %>
      </div>

      <hr />

      <div>
        <%= f.label :emails, 'Emails'%>
        <div id="emails">
          <%= f.fields_for :emails do |ff| %>
            <div class="row">
              <%= ff.hidden_field :id %>
              <%= ff.input :address, as: :email, label: false, wrapper_html: { class: 'col-md-4' }, input_html: { class: '' } %>
              <div class="col-md-2">
                <%= ff.link_to_remove 'Remover', class: 'btn btn-default' %>
              </div>
            </div>
          <% end %>
        </div>
        <%= f.link_to_add "Acrescentar Email", :emails, :data => {:target => "#emails"}, :class => 'add-nested-field' %>
      </div>
    </div>

    <div class="panel-footer">
      <%= f.submit "Salvar", class: 'btn btn-primary' %> ou
      <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
      <%= link_to "Apagar", @client, 
                  method: :delete, 
                  class: 'btn btn-danger pull-right',
                  data: { confirm: 'Tem certeza que quer apagar?' } if @client.persisted? %> 
    </div>
  </div>
<% end %>
